* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: cornsilk;
}

.description {
  display: flex;
  justify-content: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8px;
  gap: 0.1cm;
}

.navi {
  padding: 8px;
  border: outset;
  border-radius: 1cm;
  border-color: black;
  color: black;
  text-decoration: none;
  width: 3.5cm;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 30px 0px;
  padding: 1cm;
  background-color: rgb(227, 219, 179);
}

main {
  margin: 30px;
}

h2 {
  display: flex;
  justify-content: center;
}

#images {
  height: 9cm;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.linkedin {
  display: flex;
  justify-content: center;
  height: 1cm;
}

footer {
  display: flex;
  justify-content: center;
  margin: 30px;
}
