* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornsilk;
}

p {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
  flex-direction: column;
  gap: 0.1cm;
}

.navi {
  padding: 8px;
  border: outset;
  border-radius: 1cm;
  border-color: black;
  color: black;
  text-decoration: none;
  width: 3.5cm;
}

main {
  margin: -340px 8px;
  padding: 8px 8px 8px 180px;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 8px 8px 8px 180px;
}

h2 {
  display: flex;
  justify-content: center;
}

img {
  height: 10cm;
}

#images {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.linkedin {
  display: flex;
  justify-content: center;
  margin: 20px 8px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 300px 8px 8px 180px;
  margin: 40px 8px;
}
